:root {
    --primary-violet: #6e34eb;
    --footer-blue: #201d48;
    --cart-grey-backgroung: #f8f8f8;
    --cart-blue-empty: #005ad2;
    --cart-blue-empty-hovered: #0045b7;
    --cart-green-now-available: #007133;
    --cart-grey-divider: rgb(224, 224, 224);
    --cart-orange-button: #e96f14;
    --cart-blue-paypal: #0070ba;
    --cart-blue-pay: #253b80;
    --cart-blue-pal: #179bd7;


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

header div,
header ul {
    display: flex;
}

header .header-lego-logo {
    width: 55px;
    height: 55px;
}

footer .footer-lego-logo {
    width: 90px;
    height: 90px;
}

footer .region-selector {
    width: 100.833px;
    height: 39px;
    padding: 10px;
    border: none;
}

footer .social-link {
    width: 40px;
    height: 40px;
}

footer .social-link img {
    width: inherit;
    height: inherit;
}

/* S E T  D E  D I S N E Y */

.disney-hr {
    background-color: black;
    height: 1px;
    width: 100%;
}

.disney-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
}

.disney-nav1 {
    width: 100%;
    height: 40%;
    background-color: #f8f8f8;
    text-align: center;
}

.disney-nav2 {
    width: 100%;
    height: 60%;
    background-color: rgb(255, 215, 0);
    text-align: center;
}

.disney-selection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    align-items: center;
    gap: 15px;
}

.disney-selection p {
    margin: 0;
    padding: 0;
}

.disney-selection a {
    text-decoration: none;
    color: #2f5f86;
}

.disney-banner {
    display: flex;
    height: 90px;
    background-image: url(https://www.lego.com/cdn/cs/set/assets/blt1d9c86b632cb8019/Desktop.png?fit=crop&format=png&width=1600&height=90&dpr=1);
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.disney-banner button {
    height: 40px;
    width: 100px;
    background-color: #565a5d;
    border-radius: 40px;
    border: none;
    color: #ffffff;
}

.disney-banner .transparent-btn {
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid grey;
    color: black;
}

.set-description p,
h3 {
    margin: 0;
    padding: 0;
}

.set-description-layout,
.disney-set-layout {
    display: flex;
    width: auto;
    margin: 0 10vw;
}

.set-description {
    display: flex;
    height: auto;
    width: 100%;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    margin-top: 20px;
    background-color: #f2f2f2;
}

.set-description-title {
    margin-top: 30px;
}

.disney-set-layout {
    display: flex;
    flex-direction: row;
    height: 1000px;
    margin-top: 2vh;
    background-color: rgb(233, 233, 233);
    gap: 2vw;
}

.disney-set-filter {
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 200px;
    width: 20%;
    gap: 3vh;
}

.disney-set-card-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-row: repeat(2, 510px); */
    height: auto;
    width: 100%;
    background-color: yellow;
}

.disney-card1 {
    height: 500px;
    width: 100%;
    background-color: lightblue;
    border: 1px solid black;
}

.disney-footer {
    width: 100%;
    height: 500px;
    margin-top: 3vh;
    background-color: #201d48;
}

/* C A R T  W E B P A G E  -  E M P T Y  */

.cart-empty-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.875rem 0px;
    color: inherit;
    font-size: 1.25rem;
    line-height: 1.9375rem;
    font-weight: 500;
    text-transform: inherit;
}

.cart-bag-icono {
    color: var(--cart-blue-empty);
    height: 1.375rem;
}

.cart-empty-text {
    margin: 0.67em 0;
    font-size: large;
    font-weight: 600;
    margin: 1.5rem;
}

.cart-empty-ask-logging {
    font-size: medium;
    font-weight: 100;
    margin: 0.75rem;
}

.cart-empty-logging {
    background-color: var(--cart-blue-empty);
    color: white;
    border: none;
    border-radius: 20px;
    width: 15%;
    font-size: large;
    font-weight: 600;
    margin: 0.75rem;
}

.cart-empty-logging:hover {
    background-color: var(--cart-blue-empty-hovered);
}

.cart-empty-logging-link {
    text-decoration: none;
    color: inherit;
    font-size: small;
    font-weight: 600;
}

/* C A R T  W E B P A G E */

.cart-container {
    background-color: var(--cart-grey-backgroung);
}

.cart-my-bag {
    padding: 1.5rem;
}

.cart-h1 {
    font-size: 1.5rem;
}

.cart-my-bag-content {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 100rem;
    gap: 1.25rem;
    padding: 0px 1.875rem 1.875rem;
}

.cart-left-space {
    flex-basis: 65%;
}

.cart-available {
    background-color: white;
    padding-bottom: 0.25rem;
}

.cart-now-available h2 {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.9375rem 1.25rem;
    color: var(--cart-green-now-available);
    border-bottom: 1px solid var(--cart-grey-divider);
}

.cart-article-container {
    margin-bottom: 1.875rem;
    padding: 0px 1.25rem;
}

.cart-article-fex {
    display: flex;
}

.cart-img-container {
    width: 20%;
    height: auto;
    margin-right: 3rem;
    cursor: pointer;
}

.cart-img-container img {
    width: 100%;
    height: 100%;
}

.cart-information-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-name h3 a {
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.cart-name h3 a:hover {
    text-decoration: underline;
}

.cart-margin {
    width: auto;
    height: 40%;
}

.cart-price-add {
    display: flex;
}

.cart-price {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin-right: 25%;
}

.cart-add-more {
    flex: 0 1 45%;
    width: auto;
    height: 2.7rem;
    max-width: 9.09rem;
    margin: 0px 1.25rem;
}

.cart-add-more-content {
    display: flex;
    height: 2.7rem;
    flex: 1 0 auto;
    border-radius: 5px;
}

.cart-rest-article {
    position: relative;
    cursor: pointer;
    flex-grow: 1;
    height: 100%;
    min-width: 2.5rem;
    border: 1px solid var(--cart-grey-divider);
    display: flex;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
    background-color: white;
    justify-content: center;
    touch-action: manipulation;
}

.cart-number-articles {
    position: relative;
    flex-grow: 1;
    border-top: 1px solid var(--cart-grey-divider);
    border-bottom: 1px solid var(--cart-grey-divider);
    width: 2.5rem;
    max-width: 5rem;
}

.cart-number-articles input {
    background-image: none;
    width: 100%;
    height: 100%;
    border: medium;
    border-radius: 0px;
    cursor: text;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    word-spacing: 0px;
    padding: 0px;
    writing-mode: horizontal-tb;
    appearance: textfield;
}

.cart-add-article {
    position: relative;
    cursor: pointer;
    flex-grow: 1;
    height: 100%;
    min-width: 2.5rem;
    border: 1px solid var(--cart-grey-divider);
    display: flex;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    background-color: white;
    justify-content: center;
    touch-action: manipulation;
}

.cart-wish-list {
    overflow-y: visible;
    align-self: end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 1.125rem;
    width: 35%;
    align-items: center;
    height: 2.5rem;
}

.cart-wish-list-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
    font-weight: 500;
    border-radius: 0.9375rem;
    padding: 0px;
}

.cart-heart-button {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--cart-grey-backgroung);
    margin-right: 0.5rem;
}

.cart-heart-button:hover {
    background-color: var(--cart-grey-divider);
}

.cart-wish-list-text {
    font-weight: 600;
}

.cart-trash-button {
    border: none;
    background-color: white;
    color: var(--cart-blue-empty);
    font-size: 1.25rem;
}

.cart-right-space {

    flex-basis: calc(35% - 1.25rem);
    width: 100%;
}

.cart-right-first {
    background-color: white;
}

.cart-order-summary-container {
    padding: 0px 1.25rem;
}

.cart-summary {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    border-bottom: 1px solid var(--cart-grey-divider);
    padding: 1.25rem 0px 0.9375rem;
    margin: 0px 0px 1.25rem;
}

.cart-promo-code {
    border-bottom: 1px solid var(--cart-grey-divider);
    padding-bottom: 0.75rem;
}

.cart-promo-button {
    background-color: white;
    border: none;
}

.cart-h3-flex {
    font-size: 0.875rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.cart-promo-open div {
    height: 3rem;
}

.cart-promo-open div button {
    background-color: var(--cart-grey-divider);
    color: inherit;
    border: none;
    font-weight: 600;
}

.cart-total-payment {
    display: flex;
    justify-content: space-between;
}

.cart-free-delivery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cart-green-now-available)
}

.cart-green-check {
    font-size: 2rem;
}

.cart-total-price {
    font-size: larger;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.cart-iva-price {
    font-size: small;
}

.cart-checkout {
    display: flex;
    justify-content: center;
    background-color: var(--cart-orange-button);
    border-radius: 2rem;
    width: 100%;
    height: 3rem;
    margin: 1rem;
}

.cart-checkout:hover {
    filter: brightness(0.95);
    text-decoration: underline;
}

.cart-checkout a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;
    color: black;
    font-size: 1.25rem;

}

.cart-fast-shopping {
    border-top: 1px solid var(--cart-grey-divider);
    padding: 1rem 1.25rem;
}

.cart-fast-shopping-title {
    font-size: 1.125rem;
    font-weight: 600;
}

.cart-fast-shopping-description {
    font-size: 0.75rem;
    margin: 0.75rem 0;
}

.cart-paypal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cart-blue-paypal);
    color: white;
    font-size: 1.25rem;
    border-radius: 2rem;
    width: 100%;
    height: 3rem;
    margin: 1rem;
    gap: 0.5rem;
}

.cart-paypal i {
    font-weight: 600;
}

.cart-paypal:hover {
    filter: brightness(0.95);
}

.cart-pay-instalments {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cart-blue-paypal);
    color: white;
    font-size: 1.25rem;
    border-radius: 2rem;
    width: 100%;
    height: 3rem;
    margin: 1rem;
    gap: 0.5rem;
}

.cart-pay-instalments:hover {
    filter: brightness(0.95);
}

.cart-pay {
    font-weight: 600;
    color: var(--cart-blue-pay);
}

.cart-pal {
    font-weight: 600;
    color: var(--cart-blue-pal);
}

.cart-tae a {
    color: var(--cart-blue-paypal);
}

.cart-help {
    background-color: white;
    padding: 1.25rem;
    margin-top: 1.25rem;
}

.cart-help h3 {
    font-size: 1.25rem;
}

.cart-sent-back-container {
    display: flex;
    gap: 1rem;
}

.cart-sent a,
.cart-back a {
    text-decoration: none;
    color: var(--cart-blue-paypal);
}

.cart-sent a:hover,
.cart-back a:hover {
    text-decoration: underline;
}

.cart-payment-methods {
    margin-top: 1rem;
}

.cart-payment-methods h2 {
    font-weight: 600;
    font-size: 1rem;
}

.cart-payment-methods img {
    width: 12%;
    height: 12%;

}